html {
  box-sizing: content-box;
}

/* Carousel */
span.carousel-control-next-icon,
span.carousel-control-prev-icon {
  background-color: #333;
}

/* Contacto */
.contacto {
  margin: 1rem auto;
}

/* Footer */
.footer {
  padding: 1rem;
  margin: 4rem auto 1rem auto;
}
.info-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .info-items {
    flex-direction: column;
    align-items: center;
  }
}
